option_settings:
  aws:elasticbeanstalk:application:environment:
    MYSQL_USERNAME: nestsnsapi
    MYSQL_PASSWORD: nestsnsapipassword
    NODE_ENV: production
    PORT: 3000
    REDIS_PORT: 6379
    S3_BUCKET: nest-sns-api
    REDIS_HOST: '`{ "Fn::ImportValue" : "RedisEndpoint" }`'
  aws:elasticbeanstalk:customoption:
     CacheNodeType : cache.t2.micro
     NumCacheNodes : 1
     Engine : redis